nav {
  background-color: rgb(116, 64, 228);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is on top of other elements */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #d9f410;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.9s;
}

nav ul li a:hover {
  background-color: rgb(72, 124, 187)
}

nav ul li img {
  width: 2rem; /* Adjust the width as needed */
  height: 1rem; /* Maintain aspect ratio */
}

/* Add some padding to the top of the body to prevent content from being hidden behind the navbar */
body {
  padding-top: 4rem; /* Adjust this value based on the height of your navbar */
}

nav ul li input {
  background-color: #d9f410;
  color: black;
  border: none;
  width: 25rem;
  height: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.9s;
}